html,body{
    font-family: 'Dancing Script', cursive;
}
select, option, input {
    font-family: 'Dancing Script', cursive;
}
input{
    width:300px;
}
.menu li{
    font-weight: bolder;
}
.menu li a{
    text-decoration: none;
    color:red;
}
.menu li a:visited{
    color:red;
}
.ribbon-red {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #ff9d9d;
    border-bottom: #e45858 2px solid;
    margin-bottom: 10px;
}
.ribbon-blue {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #9393ff;
    border-bottom: blue 2px solid;
    margin-bottom: 10px;
}
.ribbon-green {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #93ffbe;
    border-bottom: #00ffa1 2px solid;
    margin-bottom: 10px;
}
a.orange-button {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: orange;
    width: 200px;
    margin: 0 auto;
    color: white;
    font-weight: bolder;
    font-family: 'Sans serif';
    text-decoration: none;
}
a.green-button {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #1d8a4d;
    width: 200px;
    margin: 0 auto;
    color: white;
    font-weight: bolder;
    font-family: 'Sans serif';
    text-decoration: none;
}
.urllist,.urllist:visited{
    color:red;
    text-decoration: none;
}